nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    /* border-bottom: 2px solid blue;
     */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navigation__icon {
    display: flex;
    gap: 3px;
}

.active {
    text-transform: uppercase;
}

.navigation__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid blue;
}

.navigation__circle:hover {
    background-color: var(--clr-accent-lighter);
}

#menu-icon {
    cursor: pointer;
}

nav .menu-links {
    display: none;
}

.mobile-sidebar {
    display: none;
}

.desktop-sidebar {
    display: none;
}

.mobile-sidebar.open {
    z-index: 2;
    display: block;
    position: fixed;
    height: 100%;
    margin-top: 3vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 300px;
}

.mobile-sidebar ul li a:hover {
    color: var(--clr-accent);
    text-decoration: underline;
}

main {
    z-index: 1;
    height: 1000vh;
    width: 100%;
    position: absolute;
}

@media (min-width:600px) {
    nav .menu-links {
        display: block;
    }
    .desktop-sidebar {
        display: block;
        z-index: 2;
        position: fixed;
        width: 252px;
        padding-top: 3vh;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    nav #menu-icon {
        display: none;
    }
    .mobile-sidebar {
        display: none;
    }
    .desktop-sidebar {
        margin-top: 20px;
        height: 98vh;
    }
    .desktop-sidebar ul li a:hover {
        color: var(--clr-accent);
        text-decoration: underline;
    }
    .content {
        margin-left: 400px;
    }
}