/* Mobile view menu icon */

.header__side-bar-mobile-view {
    display: none;
}

.header__side-bar-mobile-view.openView {
    display: block;
}

.header__side-bar-desktop-view {
    display: none;
}

.header__icon {
    flex-direction: column;
    cursor: pointer;
}

.header__top-nav-links {
    display: none;
}

.header__icon__line {
    width: 30px;
    height: 5px;
    margin: 2px 0;
    background-color: var(--clr-accent);
}

.header__icon.open .header__icon__line:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 3px);
}

.header__icon.open .header__icon__line:nth-child(2) {
    opacity: 0;
}

.header__icon.open .header__icon__line:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -3px);
}


/* Navigation Styles */

.header__nav {
    border-bottom: 2px solid #000;
}

header li {
    list-style-type: none;
}


/* Media query */

@media (min-width: 600px) {
    .header__icon {
        display: none;
    }
    .header__top-nav-links {
        display: block;
    }
    .header__top-nav-links ul {
        display: flex;
        list-style-type: none;
    }
    .header__side-bar-desktop-view {
        display: block;
    }
    .header__side-bar-mobile-view.view {
        display: none;
    }
}


/* Navigation hover effect */

a:hover {
    text-decoration: var(--text-decoration-underline);
}