:root {
    /* Colors */
    --clr-primary: #FFFFFF;
    --clr-primary-lighter: #f9f9f9;
    --clr-secondary: #000000;
    --clr-secondary-darker: #4D4D4D;
    --clr-accent: #0000FF;
    --clr-accent-lighter: #0351AB;
    /* Font family */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: "Playfair Display", serif;
    --accent-font: 'Roboto', sans-serif;
    /* Font weights */
    --font-weight-extra-bold: 900;
    --font-weight-semi-extra-bold: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extra-light: 200;
    --font-weight-thin: 100;
    /* Font size  */
    --font-size-micro: 10px;
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-huge: 24px;
    --font-size-gargantuan: 30px;
    --font-size-colossal: 36px;
    --font-size-monumental: 48px;
    --font-size-titanic: 60px;
    --font-size-mammoth: 72px;
    --font-size-stupendous: 84px;
    /* Font Style Variables */
    --font-style-normal: normal;
    --font-style-italic: italic;
    --font-style-oblique: oblique;
    /* Font Kerning Variables */
    --font-kerning-auto: auto;
    --font-kerning-normal: normal;
    --font-kerning-none: none;
    /* Text decoration */
    --text-decoration-none: none;
    --text-decoration-underline: underline;
    --text-decoration-overline: overline;
    --text-decoration-line-through: line-through;
    /* Text Align Variables */
    --text-align-left: left;
    --text-align-center: center;
    --text-align-right: right;
    --text-align-justify: justify;
    /* Line height variables */
    --line-height-normal: normal;
    /* Letter Spacing Variables */
    --letter-spacing-normal: normal;
    /* Word Spacing Variable */
    --word-spacing-normal: normal;
    /* List property variables */
    --list-style-type-none: none;
    /* Text Transform Variables */
    --text-transform-uppercase: uppercase;
    --text-transform-lowercase: lowercase;
    --text-transform-none: none;
    --text-transform-capitalize: capitalize;
    /* Layout Variables */
    --display-flex: flex;
    --display-block: block;
    --display-none: none;
    --display-grid: grid;
    --display-inline: inline;
    --display-inline-block: inline-block;
    /* Justify content */
    --justify-content-center: center;
    --justify-content-flex-end: flex-end;
    --justify-content-flex-start: flex-start;
    --justify-content-space-between: space-between;
    --justify-content-space-around: space-around;
    --justify-content-space-evenly: space-evenly;
    --justify-content-stretch: stretch;
    /* Align Item Property values variable */
    --align-normal: normal;
    --align-stretch: stretch;
    --align-center: center;
    --align-start: start;
    --align-end: end;
    --align-flex-start: flex-start;
    --align-flex-end: flex-end;
    --align-self-start: self-start;
    --align-self-end: self-end;
    --align-baseline: baseline;
    --align-first-baseline: first baseline;
    --align-last-baseline: last baseline;
    --align-safe-center: safe center;
    --align-unsafe-center: unsafe center;
    --align-inherit: inherit;
    --align-initial: initial;
    --align-revert: revert;
    --align-revert-layer: revert-layer;
    --align-unset: unset;
    /* Flex layout variables */
    --flex-auto: auto;
    --flex-initial: initial;
    --flex-none: none;
    --flex-min-content: min-content;
    --flex-inherit: inherit;
    --flex-revert: revert;
    --flex-revert-layer: revert-layer;
    --flex-unset: unset;
    /* Flex basis layout variables */
    --flex-basis-max-content: max-content;
    --flex-basis-min-content: min-content;
    --flex-basis-fit-content: fit-content;
    --flex-basis-content: content;
    /* Flex shrink layour variables */
    --flex-shrink-inherit: inherit;
    --flex-shrink-initial: initial;
    --flex-shrink-revert: revert;
    --flex-shrink-revert-layer: revert-layer;
    --flex-shrink-unset: unset;
    /* Flex wrap layout variables */
    --flex-wrap-nowrap: nowrap;
    --flex-wrap-wrap: wrap;
    --flex-wrap-wrap-reverse: wrap-reverse;
    --flex-wrap-inherit: inherit;
    --flex-wrap-initial: initial;
    --flex-wrap-revert: revert;
    --flex-wrap-revert-layer: revert-layer;
    --flex-wrap-unset: unset;
    /* Flex flow layout variables */
    --flex-flow-nowrap: row nowrap;
    --flex-flow-wrap: row wrap;
    --flex-flow-wrap-reverse: row wrap-reverse;
    --flex-flow-row: row;
    --flex-flow-row-reverse: row-reverse;
    --flex-flow-column: column;
    --flex-flow-column-reverse: column-reverse;
    --flex-flow-inherit: inherit;
    --flex-flow-initial: initial;
    --flex-flow-revert: revert;
    --flex-flow-revert-layer: revert-layer;
    --flex-flow-unset: unset;
    /* Flex grow layout variables */
    --flex-grow-inherit: inherit;
    --flex-grow-initial: initial;
    --flex-grow-revert: revert;
    --flex-grow-revert-layer: revert-layer;
    --flex-grow-unset: unset;
    /* Flex direction layout variables  */
    --flex-direction-row: row;
    --flex-direction-row-reverse: row-reverse;
    --flex-direction-column: column;
    --flex-direction-column-reverse: column-reverse;
    --flex-direction-inherit: inherit;
    --flex-direction-initial: initial;
    --flex-direction-revert: revert;
    --flex-direction-revert-layer: revert-layer;
    --flex-direction-unset: unset;
    /* Gap property variables */
    --gap-inherit: inherit;
    --gap-initial: initial;
    --gap-revert: revert;
    --gap-revert-layer: revert-layer;
    --gap-unset: unset;
    /* Row gap property variables */
    --row-gap-inherit: inherit;
    --row-gap-initial: initial;
    --row-gap-revert: revert;
    --row-gap-revert-layer: revert-layer;
    --row-gap-unset: unset;
    /* column gap property variables */
    --column-gap-inherit: inherit;
    --column-gap-initial: initial;
    --column-gap-revert: revert;
    --column-gap-revert-layer: revert-layer;
    --column-gap-unset: unset;
    /* Cursor variables */
    --cursor-pointer: pointer;
}


/* Resets */

*::before::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    text-decoration: var(--text-decoration-none);
    padding: 0;
}

ul li a {
    color: var(--clr-secondary-accent);
}

ul li {
    list-style-type: none;
}


/* Image width */

img {
    max-width: 100%;
}


/* Line height  */

body {
    line-height: 1.5rem;
}


/* Background colour utility classes */

.u-bg-clr-primary {
    background-color: var(--clr-primary);
}

.u-bg-clr-primary-lighter {
    background-color: var(--clr-primary-lighter);
}

.u-bg-clr-secondary {
    background-color: var(--clr-secondary);
}

.u-bg-clr-secondary-darker {
    background-color: var(--clr-secondary-darker);
}

.u-bg-clr-accent {
    background-color: var(--clr-accent);
}

.u-bg-clr-accent-lighter {
    background-color: var(--clr-accent-lighter);
}


/* Text color utility classes */

.u-text-clr-primary {
    color: var(--clr-primary);
}

.u-text-clr-primary-lighter {
    color: var(--clr-primary-lighter);
}

.u-text-clr-secondary {
    color: var(--clr-secondary);
}

.u-text-clr-secondary-darker {
    color: var(--clr-secondary-darker);
}

.u-text-clr-accent {
    color: var(--clr-accent);
}

.u-text-clr-accent-lighter {
    color: var(--clr-accent-lighter);
}


/* Primary, secondary and accent text */

.u-text-primary {
    font-family: var(--primary-font);
}

.u-text-secondary {
    font-family: var(--secondary-font);
}

.u-text-accent {
    font-family: var(--accent-font);
}


/*Utility classes for Font weight */

.u-fw-100 {
    font-weight: var(--font-weight-thin);
}

.u-fw-200 {
    font-weight: var(--font-weight-extra-light);
}

.u-fw-300 {
    font-weight: var(--font-weight-light);
}

.u-fw-400 {
    font-weight: var(--font-weight-regular);
}

.u-fw-500 {
    font-weight: var(--font-weight-medium);
}

.u-fw-600 {
    font-weight: var(--font-weight-semibold);
}

.u-fw-700 {
    font-weight: var(--font-weight-bold);
}

.u-fw-800 {
    font-weight: var(--font-weight-semi-extra-bold);
}

.u-fw-900 {
    font-weight: var(--font-weight-extra-bold);
}


/* Utility classes for font styles */

.u-fs-normal {
    font-style: var(--font-style-normal);
}

.u-fs-italic {
    font-style: var(--font-style-italic);
}

.u-fs-oblique {
    font-style: var(--font-style-oblique);
}


/*Utility classes for font size */

.u-fs-xxs {
    font-size: var(--font-size-micro);
}

.u-fs-xs {
    font-size: var(--font-size-tiny);
}

.u-fs-s {
    font-size: var(--font-size-small);
}

.u-fs-m {
    font-size: var(--font-size-medium);
}

.u-fs-l {
    font-size: var(--font-size-large);
}

.u-fs-xl {
    font-size: var(--font-size-huge);
}

.u-fs-xxl {
    font-size: var(--font-size-gargantuan);
}

.u-fs-xxxl {
    font-size: var(--font-size-colossal);
}

.u-fs-monumental {
    font-size: var(--font-size-monumental);
}

.u-fs-titanic {
    font-size: var(--font-size-titanic);
}

.u-fs-mammoth {
    font-size: var(--font-size-mammoth);
}

.u-fs-stupendous {
    font-size: var(--font-size-stupendous);
}


/* Utility classes for font kerning */

.u-fk-auto {
    font-kerning: var(--font-kerning-auto);
}

.u-fk-normal {
    font-kerning: var(--font-kerning-normal);
}

.u-fk-none {
    font-kerning: var(--font-kerning-none);
}


/*Utility classes for text transform*/

.u-text-transform-uppercase {
    text-transform: var(--text-transform-uppercase);
}

.u-text-transform-lowercase {
    text-transform: var(--text-transform-lowercase);
}

.u-text-transform-none {
    text-transform: var(--text-transform-none);
}

.u-text-transform-capitalize {
    text-transform: var(--text-transform-capitalize);
}


/* Line height utility class */

.u-text-line-height-normal {
    line-height: var(--line-height-normal);
}


/* Box shadow */

.u-box-shadow-001 {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/**********Layout class***********/


/* Display property layout class */

.l-display-flex {
    display: var(--display-flex);
}

.l-display-block {
    display: var(--display-block);
}

.l-display-none {
    display: var(--display-none);
}

.l-display-grid {
    display: var(--display-grid);
}

.l-display-inline {
    display: var(--display-inline);
}

.l-display-inline-block {
    display: var(--display-inline-block);
}


/* Justify content  */

.l-jc-center {
    justify-content: var(--justify-content-center);
}

.l-jc-flex-start {
    justify-content: var(--justify-content-flex-start);
}

.l-jc-flex-end {
    justify-content: var(--justify-content-flex-end);
}

.l-jc-space-between {
    justify-content: var(--justify-content-space-between);
}

.l-jc-space-around {
    justify-content: var(--justify-content-space-around);
}

.l-jc-space-evenly {
    justify-content: var(--justify-content-space-evenly);
}

.l-jc-stretch {
    justify-content: var(--justify-content-stretch);
}


/* Margin layout classes */


/* 0 margin */

.l-m-00 {
    margin: 0;
}


/* 0.25rem (4px) */

.l-m-025 {
    margin: 0.25rem;
}


/* 0.5rem (8px) */

.l-m-050 {
    margin: 0.5rem;
}


/* 0.75rem (12px) */

.l-m-075 {
    margin: 0.75rem;
}


/* 1rem (16px) */

.l-m-100 {
    margin: 1rem;
}


/* 1.25rem (20px) */

.l-m-125 {
    margin: 1.25rem;
}


/* 1.5rem (24px) */

.l-m-150 {
    margin: 1.5rem;
}


/* 1.75rem (28px) */

.l-m-175 {
    margin: 1.75rem;
}


/* 2rem (32px) */

.l-m-200 {
    margin: 2rem;
}


/* 2.25rem (36px) */

.l-m-225 {
    margin: 2.25rem;
}


/* 2.5rem (40px) */

.l-m-250 {
    margin: 2.5rem;
}


/* 2.75rem (44px) */

.l-m-275 {
    margin: 2.75rem;
}


/* 3rem (48px) */

.l-m-300 {
    margin: 3rem;
}


/* 3.25rem (52px) */

.l-m-325 {
    margin: 3.25rem;
}


/* 3.5rem (56px) */

.l-m-350 {
    margin: 3.5rem;
}


/* 3.75rem (60px) */

.l-m-375 {
    margin: 3.75rem;
}


/* 4.00 rem (64px) */

.l-m-400 {
    margin: 400rem;
}


/* Margin right layout class */


/* 0.0 margin right */

.l-mr-00 {
    margin-right: 0;
}


/* 0.25rem (4px) */

.l-mr-025 {
    margin-right: 0.25rem;
}


/* 0.5rem (8px) */

.l-mr-050 {
    margin-right: 0.5rem;
}


/* 0.75rem (12px) */

.l-mr-075 {
    margin-right: 0.75rem;
}


/* 1rem (16px) */

.l-mr-100 {
    margin-right: 1rem;
}


/* 1.25rem (20px) */

.l-mr-125 {
    margin-right: 1.25rem;
}


/* 1.5rem (24px) */

.l-mr-150 {
    margin-right: 1.5rem;
}


/* 1.75rem (28px) */

.l-mr-175 {
    margin-right: 1.75rem;
}


/* 2rem (32px) */

.l-mr-200 {
    margin-right: 2rem;
}


/* 2.25rem (36px) */

.l-mr-225 {
    margin-right: 2.25rem;
}


/* 2.5rem (40px) */

.l-mr-250 {
    margin-right: 2.5rem;
}


/* 2.75rem (44px) */

.l-mr-275 {
    margin-right: 2.75rem;
}


/* 3rem (48px) */

.l-mr-300 {
    margin-right: 3rem;
}


/* 3.25rem (52px) */

.l-mr-325 {
    margin-right: 3.25rem;
}


/* 3.5rem (56px) */

.l-mr-350 {
    margin-right: 3.5rem;
}


/* 3.75rem (6.px) */

.l-mr-375 {
    margin-right: 3.75rem;
}


/* 4rem (64px) */

.l-mr-400 {
    margin-right: 4rem;
}


/* Margin left */


/* 0 margin left */

.l-ml-00 {
    margin-left: 0;
}


/* 0.25rem (4px) */

.l-ml-025 {
    margin-left: 0.25rem;
}


/* 0.5rem (8px) */

.l-ml-050 {
    margin-left: 0.5rem;
}


/* 0.75rem (12px) */

.l-ml-075 {
    margin-left: 0.75rem;
}


/* 1rem (16px) */

.l-ml-100 {
    margin-left: 1rem;
}


/* 1.25rem (20px) */

.l-ml-125 {
    margin-left: 1.25rem;
}


/* 1.5rem (24px) */

.l-ml-150 {
    margin-left: 1.5rem;
}


/* 1.75rem (28px) */

.l-ml-175 {
    margin-left: 1.75rem;
}


/* 2rem (32px) */

.l-ml-200 {
    margin-left: 2rem;
}


/* 2.25rem (36px) */

.l-ml-225 {
    margin-left: 2.25rem;
}


/* 2.5rem (40px) */

.l-ml-250 {
    margin-left: 2.5rem;
}


/* 2.75rem (44px) */

.l-ml-275 {
    margin-left: 2.75rem;
}


/* 3rem (48px) */

.l-ml-300 {
    margin-left: 3rem;
}


/* 3.25rem (52px) */

.l-ml-325 {
    margin-left: 3.25rem;
}


/* 3.5rem (56px) */

.l-ml-350 {
    margin-left: 3.5rem;
}


/* 3.75rem (60px) */

.l-ml-375 {
    margin-left: 3.75rem;
}


/* 4rem (64px) */

.l-ml-400 {
    margin-left: 4rem;
}


/* Margin Top layout classs */


/* 0 margin top */

.l-mt-00 {
    margin-top: 0;
}


/* 0.25rem (4px) */

.l-mt-025 {
    margin-top: 0.25rem;
}


/* 0.5rem (8px) */

.l-mt-050 {
    margin-top: 0.5rem;
}


/* 0.75rem (12px) */

.l-mt-075 {
    margin-top: 0.75rem;
}


/* 1rem (16px) */

.l-mt-100 {
    margin-top: 1rem;
}


/* 1.25rem (20px) */

.l-mt-125 {
    margin-top: 1.25rem;
}


/* 1.5rem (24px) */

.l-mt-150 {
    margin-top: 1.5rem;
}


/* 1.75rem (28px) */

.l-mt-175 {
    margin-top: 1.75rem;
}


/* 2rem (32px) */

.l-mt-200 {
    margin-top: 2rem;
}


/* 2.25rem (36px) */

.l-mt-225 {
    margin-top: 2.25rem;
}


/* 2.5rem (40px) */

.l-mt-250 {
    margin-top: 2.5rem;
}


/* 2.75rem (44px) */

.l-mt-275 {
    margin-top: 2.75rem;
}


/* 3rem (48px) */

.l-mt-300 {
    margin-top: 3rem;
}


/* 3.25rem (52px) */

.l-mt-325 {
    margin-top: 3.25rem;
}


/* 3.5rem (56px) */

.l-mt-350 {
    margin-top: 3.5rem;
}


/* 3.75rem (60px) */

.l-mt-375 {
    margin-top: 3.75rem;
}


/* 4rem (64px) */

.l-mt-400 {
    margin-top: 4rem;
}


/* Margin bottom layout class */


/* 0.0 margin bottom */

.l-mr-00 {
    margin-bottom: 0;
}


/* 0.25rem (4px) */

.l-mb-025 {
    margin-bottom: 0.25rem;
}


/* 0.5rem (8px) */

.l-mb-050 {
    margin-bottom: 0.5rem;
}


/* 0.75rem (12px) */

.l-mb-075 {
    margin-bottom: 0.75rem;
}


/* 1rem (16px) */

.l-mb-100 {
    margin-bottom: 1rem;
}


/* 1.25rem (20px) */

.l-mb-125 {
    margin-bottom: 1.25rem;
}


/* 1.5rem (24px) */

.l-mb-150 {
    margin-bottom: 1.5rem;
}


/* 1.75rem (28px) */

.l-mb-175 {
    margin-bottom: 1.75rem;
}


/* 2rem (32px) */

.l-mb-200 {
    margin-bottom: 2rem;
}


/* 2.25rem (36px) */

.l-mb-225 {
    margin-bottom: 2.25rem;
}


/* 2.5rem (40px) */

.l-mb-250 {
    margin-bottom: 2.5rem;
}


/* 2.75rem (44px) */

.l-mb-275 {
    margin-bottom: 2.75rem;
}


/* 3rem (48px) */

.l-mb-300 {
    margin-bottom: 3rem;
}


/* 3.25rem (52px) */

.l-mb-325 {
    margin-bottom: 3.25rem;
}


/* 3.5rem (56px) */

.l-mb-350 {
    margin-bottom: 3.5rem;
}


/* 3.75rem (60px) */

.l-mb-375 {
    margin-bottom: 3.75rem;
}


/* 4rem (64px) */

.l-mb-400 {
    margin-bottom: 4rem;
}


/* Margin layot for x-axis */


/* 0 margin on left and right */

.l-mx-0 {
    margin-left: 0rem;
    margin-right: 0rem;
}


/* 0.25rem (4px) */

.l-mx-025 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}


/* 0.5rem (8px) */

.l-mx-050 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


/* 0.75rem (12px) */

.l-mx-075 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}


/* 1rem (16px) */

.l-mx-100 {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* 1.25rem (20px) */

.l-mx-125 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}


/* 1.5rem (24px) */

.l-mx-150 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/* 1.75rem (28px) */

.l-mx-175 {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}


/* 2rem (32px) */

.l-mx-200 {
    margin-left: 2rem;
    margin-right: 2rem;
}


/* 2.25rem (36px) */

.l-mx-225 {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
}


/* 2.5rem (40px) */

.l-mx-250 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}


/* 2.75rem (44px) */

.l-mx-275 {
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}


/* 3rem (48px) */

.l-mx-300 {
    margin-left: 3rem;
    margin-right: 3rem;
}


/* 3.25rem (52px) */

.l-mx-325 {
    margin-left: 3.25rem;
    margin-right: 3.25rem;
}


/* 3.5rem (56px) */

.l-mx-350 {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}


/* 3.75rem (60px) */

.l-mx-375 {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
}


/* 4rem (64px) */

.l-mx-400 {
    margin-left: 4rem;
    margin-right: 4rem;
}


/* Margin layot for y-axis */


/* 0 margin on top and bottom */

.l-my-00 {
    margin-top: 0;
    margin-bottom: 0;
}


/* 0.25rem */

.l-my-025 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}


/* 0.5rem */

.l-my-050 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


/* 0.75rem */

.l-my-075 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}


/* 1rem */

.l-my-100 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* 1.25rem */

.l-my-125 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


/* 1.5rem */

.l-my-150 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


/* 1.75rem */

.l-my-175 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}


/* 2rem */

.l-my-200 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* 2.25rem */

.l-my-225 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}


/* 2.5rem */

.l-my-250 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


/* 2.75rem */

.l-my-275 {
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
}


/* 3rem */

.l-my-300 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* 3.25rem */

.l-my-325 {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem;
}


/* 3.5rem */

.l-my-350 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}


/* 3.75rem */

.l-my-375 {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}


/* 4rem */

.l-my-400 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


/* Margin auto layout class */


/* Margin set to auto */

.l-m-auto {
    margin: auto;
}


/* Margin top set to auto */

.l-mt-auto {
    margin-top: auto;
}


/* Margin bottom set to auto */

.l-mb-auto {
    margin-bottom: auto;
}


/* Margin left set to auto */

.l-ml-auto {
    margin-left: auto;
}


/* Margin right set to auto */

.l-mr-auto {
    margin-right: auto;
}


/* Margin x-axis auto ,margin top and bottom auto*/

.l-my-auto {
    margin-top: auto;
    margin-bottom: auto;
}


/* Margin right and left set to auto */

.l-mx-auto {
    margin-right: auto;
    margin-left: auto;
}


/* Padding layout classes */


/* Padding set to 0 */

.l-p-00 {
    padding: 0;
}


/* 0.25rem */

.l-p-025 {
    padding: 0.25rem;
}


/* Padding 0.5rem (8px) */

.l-p-050 {
    padding: 0.5rem;
}


/* Padding 0.75rem (12px) */

.l-p-075 {
    padding: 0.75rem;
}


/* Padding 1rem (16px) */

.l-p-100 {
    padding: 1rem;
}


/* Padding 1.25rem (20px) */

.l-p-125 {
    padding: 1.25rem;
}


/* Padding 1.5rem (24px) */

.l-p-150 {
    padding: 1.5rem;
}


/* Padding 1.75rem (28px) */

.l-p-175 {
    padding: 1.75rem;
}


/* Padding 2rem (32px) */

.l-p-200 {
    padding: 2rem;
}


/* Padding 2.25rem (36px) */

.l-p-225 {
    padding: 2.25rem;
}


/* Padding 2.5rem (40px) */

.l-p-250 {
    padding: 2.5rem;
}


/* Padding 2.75rem (44px) */

.l-p-275 {
    padding: 2.75rem;
}


/* Padding 3rem (48px) */

.l-p-300 {
    padding: 3rem;
}


/* Padding 3.25rem (52px) */

.l-p-325 {
    padding: 3.25rem;
}


/* Padding 3.5rem (56px) */

.l-p-350 {
    padding: 3.5rem;
}


/* Padding 3.75rem (60px) */

.l-p-375 {
    padding: 3.75rem;
}


/* Padding 4rem (64px) */

.l-p-400 {
    padding: 4rem;
}


/* Padding top utility class */


/* Padding-top 0 */

.l-pt-00 {
    padding-top: 0;
}


/* Padding-top 0.25rem (4px) */

.l-pt-025 {
    padding-top: 0.25rem;
}


/* Padding-top 0.5rem (8px) */

.l-pt-050 {
    padding-top: 0.5rem;
}


/* Padding-top 0.75rem (12px) */

.l-pt-075 {
    padding-top: 0.75rem;
}


/* Padding-top 1rem (16px) */

.l-pt-100 {
    padding-top: 1rem;
}


/* Padding-top 1.25rem (20px) */

.l-pt-125 {
    padding-top: 1.25rem;
}


/* Padding-top 1.5rem (24px) */

.l-pt-150 {
    padding-top: 1.5rem;
}


/* Padding-top 1.75rem (28px) */

.l-pt-175 {
    padding-top: 1.75rem;
}


/* Padding-top 2rem (32px) */

.l-pt-200 {
    padding-top: 2rem;
}


/* Padding-top 2.25rem (36px) */

.l-pt-225 {
    padding-top: 2.25rem;
}


/* Padding-top 2.5rem (40px) */

.l-pt-250 {
    padding-top: 2.5rem;
}


/* Padding-top 2.75rem (44px) */

.l-pt-275 {
    padding-top: 2.75rem;
}


/* Padding-top 3rem (48px) */

.l-pt-300 {
    padding-top: 3rem;
}


/* Padding-top 3.25rem (52px) */

.l-pt-325 {
    padding-top: 3.25rem;
}


/* Padding-top 3.5rem (56px) */

.l-pt-350 {
    padding-top: 3.5rem;
}


/* Padding-top 3.75rem (60px) */

.l-pt-375 {
    padding-top: 3.75rem;
}


/* Padding-top 4rem (64px) */

.l-pt-400 {
    padding-top: 4rem;
}


/* Padding bottom layout class */


/* Padding-bottom 0 */

.l-pb-00 {
    padding-bottom: 0;
}


/* Padding-bottom 0.25rem (4px) */

.l-pb-025 {
    padding-bottom: 0.25rem;
}


/* Padding-bottom 0.5rem (8px) */

.l-pb-050 {
    padding-bottom: 0.5rem;
}


/* Padding-bottom 0.75rem (12px) */

.l-pb-075 {
    padding-bottom: 0.75rem;
}


/* Padding-bottom 1rem (16px) */

.l-pb-100 {
    padding-bottom: 1rem;
}


/* Padding-bottom 1.25rem (20px) */

.l-pb-125 {
    padding-bottom: 1.25rem;
}


/* Padding-bottom 1.5rem (24px) */

.l-pb-150 {
    padding-bottom: 1.5rem;
}


/* Padding-bottom 1.75rem (28px) */

.l-pb-175 {
    padding-bottom: 1.75rem;
}


/* Padding-bottom 2rem (32px) */

.l-pb-200 {
    padding-bottom: 2rem;
}


/* Padding-bottom 2.25rem (36px) */

.l-pb-225 {
    padding-bottom: 2.25rem;
}


/* Padding-bottom 2.5rem (40px) */

.l-pb-250 {
    padding-bottom: 2.5rem;
}


/* Padding-bottom 2.75rem (44px) */

.l-pb-275 {
    padding-bottom: 2.75rem;
}


/* Padding-bottom 3rem (48px) */

.l-pb-300 {
    padding-bottom: 3rem;
}


/* Padding-bottom 3.25rem (52px) */

.l-pb-325 {
    padding-bottom: 3.25rem;
}


/* Padding-bottom 3.5rem (56px) */

.l-pb-350 {
    padding-bottom: 3.5rem;
}


/* Padding-bottom 3.75rem (60px) */

.l-pb-375 {
    padding-bottom: 3.75rem;
}


/* Padding-bottom 4rem (64px) */

.l-pb-400 {
    padding-bottom: 4rem;
}


/* Padding left layout class */


/* Padding-left 0 */

.l-pl-00 {
    padding-left: 0;
}


/* Padding-left 0.25rem (4px) */

.l-pl-025 {
    padding-left: 0.25rem;
}


/* Padding-left 0.5rem (8px) */

.l-pl-050 {
    padding-left: 0.5rem;
}


/* Padding-left 0.75rem (12px) */

.l-pl-075 {
    padding-left: 0.75rem;
}


/* Padding-left 1rem (16px) */

.l-pl-100 {
    padding-left: 1rem;
}


/* Padding-left 1.25rem (20px) */

.l-pl-125 {
    padding-left: 1.25rem;
}


/* Padding-left 1.5rem (24px) */

.l-pl-150 {
    padding-left: 1.5rem;
}


/* Padding-left 1.75rem (28px) */

.l-pl-175 {
    padding-left: 1.75rem;
}


/* Padding-left 2rem (32px) */

.l-pl-200 {
    padding-left: 2rem;
}


/* Padding-left 2.25rem (36px) */

.l-pl-225 {
    padding-left: 2.25rem;
}


/* Padding-left 2.5rem (40px) */

.l-pl-250 {
    padding-left: 2.5rem;
}


/* Padding-left 2.75rem (44px) */

.l-pl-275 {
    padding-left: 2.75rem;
}


/* Padding-left 3rem (48px) */

.l-pl-300 {
    padding-left: 3rem;
}


/* Padding-left 3.25rem (52px) */

.l-pl-325 {
    padding-left: 3.25rem;
}


/* Padding-left 3.5rem (56px) */

.l-pl-350 {
    padding-left: 3.5rem;
}


/* Padding-left 3.75rem (60px) */

.l-pl-375 {
    padding-left: 3.75rem;
}


/* Padding-left 4rem (64px) */

.l-pl-400 {
    padding-left: 4rem;
}


/* Padding right layout classes */


/* Padding-right 0 */

.l-pr-00 {
    padding-right: 0;
}


/* Padding-right 0.25rem (4px) */

.l-pr-025 {
    padding-right: 0.25rem;
}


/* Padding-right 0.5rem (8px) */

.l-pr-050 {
    padding-right: 0.5rem;
}


/* Padding-right 0.75rem (12px) */

.l-pr-075 {
    padding-right: 0.75rem;
}


/* Padding-right 1rem (16px) */

.l-pr-100 {
    padding-right: 1rem;
}


/* Padding-right 1.25rem (20px) */

.l-pr-125 {
    padding-right: 1.25rem;
}


/* Padding-right 1.5rem (24px) */

.l-pr-150 {
    padding-right: 1.5rem;
}


/* Padding-right 1.75rem (28px) */

.l-pr-175 {
    padding-right: 1.75rem;
}


/* Padding-right 2rem (32px) */

.l-pr-200 {
    padding-right: 2rem;
}


/* Padding-right 2.25rem (36px) */

.l-pr-225 {
    padding-right: 2.25rem;
}


/* Padding-right 2.5rem (40px) */

.l-pr-250 {
    padding-right: 2.5rem;
}


/* Padding-right 2.75rem (44px) */

.l-pr-275 {
    padding-right: 2.75rem;
}


/* Padding-right 3rem (48px) */

.l-pr-300 {
    padding-right: 3rem;
}


/* Padding-right 3.25rem (52px) */

.l-pr-325 {
    padding-right: 3.25rem;
}


/* Padding-right 3.5rem (56px) */

.l-pr-350 {
    padding-right: 3.5rem;
}


/* Padding-right 3.75rem (60px) */

.l-pr-375 {
    padding-right: 3.75rem;
}


/* Padding-right 4rem (64px) */

.l-pr-400 {
    padding-right: 4rem;
}


/* Layout classes for x axis padding , padding left and padding right */


/* Padding-x 0 */

.l-px-00 {
    padding-left: 0;
    padding-right: 0;
}


/* Padding-x 0.25rem (4px) */

.l-px-025 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}


/* Padding-x 0.5rem (8px) */

.l-px-050 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


/* Padding-x 0.75rem (12px) */

.l-px-075 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}


/* Padding-x 1rem (16px) */

.l-px-100 {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Padding-x 1.25rem (20px) */

.l-px-125 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


/* Padding-x 1.5rem (24px) */

.l-px-150 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


/* Padding-x 1.75rem (28px) */

.l-px-175 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}


/* Padding-x 2rem (32px) */

.l-px-200 {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* Padding-x 2.25rem (36px) */

.l-px-225 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}


/* Padding-x 2.5rem (40px) */

.l-px-250 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


/* Padding-x 2.75rem (44px) */

.l-px-275 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
}


/* Padding-x 3rem (48px) */

.l-px-300 {
    padding-left: 3rem;
    padding-right: 3rem;
}


/* Padding-x 3.25rem (52px) */

.l-px-325 {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
}


/* Padding-x 3.5rem (56px) */

.l-px-350 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}


/* Padding-x 3.75rem (60px) */

.l-px-375 {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}


/* Padding-x 4rem (64px) */

.l-px-400 {
    padding-left: 4rem;
    padding-right: 4rem;
}


/* Padding on y axis layout classes, padding top and padding bottom */


/* Padding-y 0 */

.l-py-00 {
    padding-top: 0;
    padding-bottom: 0;
}


/* Padding-y 0.25rem (4px) */

.l-py-025 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


/* Padding-y 0.5rem (8px) */

.l-py-050 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/* Padding-y 0.75rem (12px) */

.l-py-075 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}


/* Padding-y 1rem (16px) */

.l-py-100 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* Padding-y 1.25rem (20px) */

.l-py-125 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}


/* Padding-y 1.5rem (24px) */

.l-py-150 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


/* Padding-y 1.75rem (28px) */

.l-py-175 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}


/* Padding-y 2rem (32px) */

.l-py-200 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* Padding-y 2.25rem (36px) */

.l-py-225 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}


/* Padding-y 2.5rem (40px) */

.l-py-250 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


/* Padding-y 2.75rem (44px) */

.l-py-275 {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
}


/* Padding-y 3rem (48px) */

.l-py-300 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


/* Padding-y 3.25rem (52px) */

.l-py-325 {
    padding-top: 3.25rem;
    padding-bottom: 3.25rem;
}


/* Padding-y 3.5rem (56px) */

.l-py-350 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}


/* Padding-y 3.75rem (60px) */

.l-py-375 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}


/* Padding-y 4rem (64px) */

.l-py-400 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/* Layout classes to set padding  */


/* Padding auto */

.l-p-auto {
    padding: auto;
}


/* Padding-top auto */

.l-pt-auto {
    padding-top: auto;
}


/* Padding-bottom auto */

.l-pb-auto {
    padding-bottom: auto;
}


/* Padding-left auto */

.l-pl-auto {
    padding-left: auto;
}


/* Padding-right auto */

.l-pr-auto {
    padding-right: auto;
}


/* Padding-x auto */

.l-px-auto {
    padding-left: auto;
    padding-right: auto;
}


/* Padding-y auto */

.l-py-auto {
    padding-top: auto;
    padding-bottom: auto;
}


/* Align item property layout class */


/* Align items normally */

.l-align-normal {
    align-items: var(--align-normal);
}


/* Stretch items */

.l-align-stretch {
    align-items: var(--align-stretch);
}


/* Center items vertically */

.l-align-center {
    align-items: var(--align-center);
}


/* Align items at the start of the container */

.l-align-start {
    align-items: var(--align-start);
}


/* Align items at the end of the container */

.l-align-end {
    align-items: var(--align-end);
}


/* Align items at the start of the flex container */

.l-align-flex-start {
    align-items: var(--align-flex-start);
}


/* Align items at the end of the flex container */

.l-align-flex-end {
    align-items: var(--align-flex-end);
}


/* Align items at the start of the cross axis */

.l-align-self-start {
    align-items: var(--align-self-start);
}


/* Align items at the end of the cross axis */

.l-align-self-end {
    align-items: var(--align-self-end);
}


/* Align items to the baseline of the container */

.l-align-baseline {
    align-items: var(--align-baseline);
}


/* Align items to the first baseline */

.l-align-first-baseline {
    align-items: var(--align-first-baseline);
}


/* Align items to the last baseline */

.l-align-last-baseline {
    align-items: var(--align-last-baseline);
}


/* Align items at the safe center */

.l-align-safe-center {
    align-items: var(--align-safe-center);
}


/* Align items at the unsafe center */

.l-align-unsafe-center {
    align-items: var(--align-unsafe-center);
}


/* Inherit align-items property */

.l-align-inherit {
    align-items: var(--align-inherit);
}


/* Set align-items property to its initial value */

.l-align-initial {
    align-items: var(--align-initial);
}


/* Set align-items property to its revert value */

.l-align-revert {
    align-items: var(--align-revert);
}


/* Set align-items property to its revert-layer value */

.l-align-revert-layer {
    align-items: var(--align-revert-layer);
}


/* Unset align-items property */

.l-align-unset {
    align-items: var(--align-unset);
}


/* State class for cursor pointer */

.s-cursor-pointer {
    cursor: var(--cursor-pointer);
}


/* Layout class for flex */


/* Flex */

.l-flex-auto {
    flex: var(--flex-auto);
}

.l-flex-initial {
    flex: var(--flex-initial);
}

.l-flex-none {
    flex: var(--flex-none);
}

.l-flex-min-content {
    flex: var(--flex-min-content);
}

.l-flex-inherit {
    flex: var(--flex-inherit);
}

.l-flex-revert {
    flex: var(--flex-revert);
}

.l-flex-revert-layer {
    flex: var(--flex-revert-layer);
}

.l-flex-unset {
    flex: var(--flex-unset);
}


/* Flex-basis */

.l-flex-basis-max-content {
    flex-basis: var(--flex-basis-max-content);
}

.l-flex-basis-min-content {
    flex-basis: var(--flex-basis-min-content);
}

.l-flex-basis-fit-content {
    flex-basis: var(--flex-basis-fit-content);
}

.l-flex-basis-content {
    flex-basis: var(--flex-basis-content);
}


/* Flex-shrink */

.l-flex-shrink-inherit {
    flex-shrink: var(--flex-shrink-inherit);
}

.l-flex-shrink-initial {
    flex-shrink: var(--flex-shrink-initial);
}

.l-flex-shrink-revert {
    flex-shrink: var(--flex-shrink-revert);
}

.l-flex-shrink-revert-layer {
    flex-shrink: var(--flex-shrink-revert-layer);
}

.l-flex-shrink-unset {
    flex-shrink: var(--flex-shrink-unset);
}


/* Flex-wrap */

.l-flex-wrap-nowrap {
    flex-wrap: var(--flex-wrap-nowrap);
}

.l-flex-wrap-wrap {
    flex-wrap: var(--flex-wrap-wrap);
}

.l-flex-wrap-wrap-reverse {
    flex-wrap: var(--flex-wrap-wrap-reverse);
}

.l-flex-wrap-inherit {
    flex-wrap: var(--flex-wrap-inherit);
}

.l-flex-wrap-initial {
    flex-wrap: var(--flex-wrap-initial);
}

.l-flex-wrap-revert {
    flex-wrap: var(--flex-wrap-revert);
}

.l-flex-wrap-revert-layer {
    flex-wrap: var(--flex-wrap-revert-layer);
}

.l-flex-wrap-unset {
    flex-wrap: var(--flex-wrap-unset);
}


/* Flex-flow */

.l-flex-flow-nowrap {
    flex-flow: var(--flex-flow-nowrap);
}

.l-flex-flow-wrap {
    flex-flow: var(--flex-flow-wrap);
}

.l-flex-flow-wrap-reverse {
    flex-flow: var(--flex-flow-wrap-reverse);
}

.l-flex-flow-row {
    flex-flow: var(--flex-flow-row);
}

.l-flex-flow-row-reverse {
    flex-flow: var(--flex-flow-row-reverse);
}

.l-flex-flow-column {
    flex-flow: var(--flex-flow-column);
}

.l-flex-flow-column-reverse {
    flex-flow: var(--flex-flow-column-reverse);
}

.l-flex-flow-inherit {
    flex-flow: var(--flex-flow-inherit);
}

.l-flex-flow-initial {
    flex-flow: var(--flex-flow-initial);
}

.l-flex-flow-revert {
    flex-flow: var(--flex-flow-revert);
}

.l-flex-flow-revert-layer {
    flex-flow: var(--flex-flow-revert-layer);
}

.l-flex-flow-unset {
    flex-flow: var(--flex-flow-unset);
}


/* Flex-grow */

.l-flex-grow-inherit {
    flex-grow: var(--flex-grow-inherit);
}

.l-flex-grow-initial {
    flex-grow: var(--flex-grow-initial);
}

.l-flex-grow-revert {
    flex-grow: var(--flex-grow-revert);
}

.l-flex-grow-revert-layer {
    flex-grow: var(--flex-grow-revert-layer);
}

.l-flex-grow-unset {
    flex-grow: var(--flex-grow-unset);
}


/* Flex-direction */

.l-flex-direction-row {
    flex-direction: var(--flex-direction-row);
}

.l-flex-direction-row-reverse {
    flex-direction: var(--flex-direction-row-reverse);
}

.l-flex-direction-column {
    flex-direction: var(--flex-direction-column);
}

.l-flex-direction-column-reverse {
    flex-direction: var(--flex-direction-column-reverse);
}

.l-flex-direction-inherit {
    flex-direction: var(--flex-direction-inherit);
}

.l-flex-direction-initial {
    flex-direction: var(--flex-direction-initial);
}

.l-flex-direction-revert {
    flex-direction: var(--flex-direction-revert);
}

.l-flex-direction-revert-layer {
    flex-direction: var(--flex-direction-revert-layer);
}

.l-flex-direction-unset {
    flex-direction: var(--flex-direction-unset);
}


/* gap property layout classes */

.l-gap-normal {
    gap: normal;
}

.l-gap-inherit {
    gap: var(--gap-inherit)
}

.l-gap-initial {
    gap: var(--gap-initial)
}

.l-gap-revert {
    gap: var(--gap-revert)
}

.l-gap-revert-layer {
    gap: var(--gap-revert-layer)
}

.l-gap-unset {
    gap: var(--gap-unset)
}


/* Gap property with specific values layout class */


/* Set gap to 0 */

.l-gap-00 {
    gap: 0;
}


/* Set gap to 0.25rem */

.l-gap-025 {
    gap: 0.25rem;
}


/* Set gap to 0.5rem */

.l-gap-050 {
    gap: 0.5rem;
}


/* Set gap to 0.75rem */

.l-gap-075 {
    gap: 0.75rem;
}


/* Set gap to 1rem */

.l-gap-100 {
    gap: 1rem;
}


/* Set gap to 1.25rem */

.l-gap-125 {
    gap: 1.25rem;
}


/* Set gap to 1.5rem */

.l-gap-150 {
    gap: 1.5rem;
}


/* Set gap to 1.75rem */

.l-gap-175 {
    gap: 1.75rem;
}


/* Set gap to 2rem */

.l-gap-200 {
    gap: 2rem;
}


/* Set gap to 2.25rem */

.l-gap-225 {
    gap: 2.25rem;
}


/* Set gap to 2.5rem */

.l-gap-250 {
    gap: 2.5rem;
}


/* Set gap to 2.75rem */

.l-gap-275 {
    gap: 2.75rem;
}


/* Set gap to 3rem */

.l-gap-300 {
    gap: 3rem;
}


/* Set gap to 3.25rem */

.l-gap-325 {
    gap: 3.25rem;
}


/* Set gap to 3.5rem */

.l-gap-035 {
    gap: 3.5rem;
}


/* Set gap to 3.75rem */

.l-gap-375 {
    gap: 3.75rem;
}


/* Set gap to 4rem */

.l-gap-400 {
    gap: 4rem;
}


/* Row gap property layout class */


/* Set row gap to 0 */

.l-row-gap-00 {
    row-gap: 0;
}


/* Row gap property layout classes */

.l-row-gap-inherit {
    row-gap: var(--row-gap-inherit);
}

.l-row-gap-initial {
    row-gap: var(--row-gap-initial);
}

.l-row-gap-revert {
    row-gap: var(--row-gap-revert);
}

.l-row-gap-revert-layer {
    row-gap: var(--row-gap-revert-layer);
}

.l-row-gap-unset {
    row-gap: var(--row-gap-unset);
}


/* Set row gap to 0.25rem */

.l-row-gap-025 {
    row-gap: 0.25rem;
}


/* Set row gap to 0.5rem */

.l-row-gap-050 {
    row-gap: 0.5rem;
}


/* Set row gap to 0.75rem */

.l-row-gap-075 {
    row-gap: 0.75rem;
}


/* Set row gap to 1rem */

.l-row-gap-100 {
    row-gap: 1rem;
}


/* Set row gap to 1.25rem */

.l-row-gap-125 {
    row-gap: 1.25rem;
}


/* Set row gap to 1.5rem */

.l-row-gap-150 {
    row-gap: 1.5rem;
}


/* Set row gap to 1.75rem */

.l-row-gap-175 {
    row-gap: 1.75rem;
}


/* Set row gap to 2rem */

.l-row-gap-200 {
    row-gap: 2rem;
}


/* Set row gap to 2.25rem */

.l-row-gap-225 {
    row-gap: 2.25rem;
}


/* Set row gap to 2.5rem */

.l-row-gap-250 {
    row-gap: 2.5rem;
}


/* Set row gap to 2.75rem */

.l-row-gap-275 {
    row-gap: 2.75rem;
}


/* Set row gap to 3rem */

.l-row-gap-300 {
    row-gap: 3rem;
}


/* Set row gap to 3.25rem */

.l-row-gap-325 {
    row-gap: 3.25rem;
}


/* Set row gap to 3.5rem */

.l-row-gap-350 {
    row-gap: 3.5rem;
}


/* Set row gap to 3.75rem */

.l-row-gap-375 {
    row-gap: 3.75rem;
}


/* Set row gap to 4rem */

.l-row-gap-400 {
    row-gap: 4rem;
}


/* Column gap property layout classes */

.l-column-gap-inherit {
    column-gap: var(--column-gap-inherit);
}

.l-column-gap-initial {
    column-gap: var(--column-gap-initial);
}

.l-column-gap-revert {
    column-gap: var(--column-gap-revert);
}

.l-column-gap-revert-layer {
    column-gap: var(--column-gap-revert-layer);
}

.l-column-gap-unset {
    column-gap: var(--column-gap-unset);
}


/* Column gap specific value layout classes */


/* Set column gap to 0 */

.l-col-gap-00 {
    column-gap: 0;
}


/* Set column gap to 0.25rem */

.l-col-gap-025 {
    column-gap: 0.25rem;
}


/* Set column gap to 0.5rem */

.l-col-gap-050 {
    column-gap: 0.5rem;
}


/* Set column gap to 0.75rem */

.l-col-gap-075 {
    column-gap: 0.75rem;
}


/* Set column gap to 1rem */

.l-col-gap-100 {
    column-gap: 1rem;
}


/* Set column gap to 1.25rem */

.l-col-gap-125 {
    column-gap: 1.25rem;
}


/* Set column gap to 1.5rem */

.l-col-gap-150 {
    column-gap: 1.5rem;
}


/* Set column gap to 1.75rem */

.l-col-gap-175 {
    column-gap: 1.75rem;
}


/* Set column gap to 2rem */

.l-col-gap-200 {
    column-gap: 2rem;
}


/* Set column gap to 2.25rem */

.l-col-gap-225 {
    column-gap: 2.25rem;
}


/* Set column gap to 2.5rem */

.l-col-gap-250 {
    column-gap: 2.5rem;
}


/* Set column gap to 2.75rem */

.l-col-gap-275 {
    column-gap: 2.75rem;
}


/* Set column gap to 3rem */

.l-col-gap-300 {
    column-gap: 3rem;
}


/* Set column gap to 3.25rem */

.l-col-gap-325 {
    column-gap: 3.25rem;
}


/* Set column gap to 3.5rem */

.l-col-gap-350 {
    column-gap: 3.5rem;
}


/* Set column gap to 3.75rem */

.l-col-gap-375 {
    column-gap: 3.75rem;
}


/* Set column gap to 4rem */

.l-col-gap-400 {
    column-gap: 4rem;
}


/* Max width classes */

.l-mw-mobile-040-ch {
    max-width: 40ch;
}

.l-max-width-080 {
    max-width: 80%;
}

.l-width-full {
    width: 100%;
}

.l-width-010 {
    width: 10%;
}

.l-width-020 {
    width: 20%;
}

.l-width-030 {
    width: 30%;
}

.l-width-040 {
    width: 40%;
}

.l-width-050 {
    width: 50%;
}

.l-width-060 {
    width: 60%;
}

.l-width-070 {
    width: 70%;
}


/* 1 px solid black border */

.l-border-black-001 {
    border: 1px solid black;
}

.l-border-desktop-003 {
    border: 3px solid #4D4D4D;
    border-radius: 5px;
}


/* Grid layout classes */

.l-grid-rows-auto {
    grid-template-rows: auto;
}

.l-grid-cols-auto {
    grid-template-columns: auto;
}

.l-width-full {
    width: 80%;
}

.l-width-80-p {
    max-width: 80%;
}

.l-height-75 {
    height: 75vh;
}


/* Home page style */