:root {
    /* Colors */
    --clr-primary-background: #F9F9F9;
    --clr-secondary-background: #ffffff;
    --clr-primary-text: #000000;
    --clr-secondary-text: #4d4d4d;
    --clr-primary-accent: #2D2E32;
    --clr-secondary-accent: #0351AB;
    /* Font family */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Epilogue', sans-serif;
    --accent-font: 'Roboto', sans-serif;
    /* Font weights */
    --font-weight-extra-bold: 900;
    --font-weight-semi-extra-bold: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extra-light: 200;
    --font-weight-thin: 100;
    /* Font size  */
    --font-size-micro: 10px;
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-huge: 24px;
    --font-size-gargantuan: 30px;
    --font-size-colossal: 36px;
    --font-size-monumental: 48px;
    --font-size-titanic: 60px;
    --font-size-mammoth: 72px;
    --font-size-stupendous: 84px;
    /* Layout Variables */
    --display-flex: flex;
    --display-block: block;
    --display-none: none;
    --justify-content-center: center;
    --justify-content-space-between: space-between;
    --justify-content-space-around: space-around;
    /* Text decoration */
    --text-decoration-none: none;
    --text-decoration-underline: underline;
    --text-decoration-overline: overline;
    --text-decoration-line-through: line-through;
    /* Text Align Variables */
    --text-align-left: left;
    --text-align-center: center;
    --text-align-right: right;
    --text-align-justify: justify;
    /* Line height variables */
    --line-height-normal: normal;
    /* Letter Spacing Variables */
    --letter-spacing-normal: normal;
    /* Word Spacing Variable */
    --word-spacing-normal: normal;
    /* List property variables */
    --list-style-type-none: none;
    /* Text Transform Variables */
    --text-transform-none: none;
    --text-transform-uppercase: uppercase;
}


/* Resets */

*::before::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    text-decoration: none;
    padding: 0;
}