:root {
    /* Colors */
    --clr-primary: #FFFFFF;
    --clr-primary-lighter: #F9F9F9;
    --clr-secondary: #000000;
    --clr-secondary-darker: #4D4D4D;
    --clr-accent: #0000FF;
    --clr-accent-lighter: #0351AB;
    /* Font family */
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: "Playfair Display", serif;
    --accent-font: 'Roboto', sans-serif;
    /* Font weights */
    --font-weight-extra-bold: 900;
    --font-weight-semi-extra-bold: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extra-light: 200;
    --font-weight-thin: 100;
    /* Font size  */
    --font-size-micro: 10px;
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-huge: 24px;
    --font-size-gargantuan: 30px;
    --font-size-colossal: 36px;
    --font-size-monumental: 48px;
    --font-size-titanic: 60px;
    --font-size-mammoth: 72px;
    --font-size-stupendous: 84px;
    /* Font Style Variables */
    --font-style-normal: normal;
    --font-style-italic: italic;
    --font-style-oblique: oblique;
    /* Font Kerning Variables */
    --font-kerning-auto: auto;
    --font-kerning-normal: normal;
    --font-kerning-none: none;
    /* Text decoration */
    --text-decoration-none: none;
    --text-decoration-underline: underline;
    --text-decoration-overline: overline;
    --text-decoration-line-through: line-through;
    /* Text Align Variables */
    --text-align-left: left;
    --text-align-center: center;
    --text-align-right: right;
    --text-align-justify: justify;
    /* Line height variables */
    --line-height-normal: normal;
    /* Letter Spacing Variables */
    --letter-spacing-normal: normal;
    /* Word Spacing Variable */
    --word-spacing-normal: normal;
    /* List property variables */
    --list-style-type-none: none;
    /* Text Transform Variables */
    --text-transform-uppercase: uppercase;
    --text-transform-lowercase: lowercase;
    --text-transform-none: none;
    --text-transform-capitalize: capitalize;
    /* Layout Variables */
    --display-flex: flex;
    --display-block: block;
    --display-none: none;
    --justify-content-center: center;
    --justify-content-flex-end: flex-end;
    --justifu-content-flex-start: flex-start;
    --justify-content-space-between: space-between;
    --justify-content-space-around: space-around;
    --justify-content-space-evenly: space-evenly;
    --justify-content-stretch: stretch;
}


/* Resets */

*::before::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    text-decoration: var(--text-decoration-none);
    padding: 0;
}

ul li a {
    color: var(--clr-secondary-accent);
}


/* Image width */

img {
    width: 100%;
}


/* Line height  */

body {
    line-height: 1.5rem;
}


/* Background color utility classes */

.u-bg-clr-primary {
    background-color: var(--clr-primary);
}

.u-bg-clr-primary-lighter {
    background-color: var(--clr-primary-lighter);
}

.u-bg-clr-secondary {
    background-color: var(--clr-secondary);
}

.u-bg-clr-secondary-darker {
    background-color: var(--clr-secondary-darker);
}

.u-bg-clr-accent {
    background-color: var(--clr-accent);
}

.u-bg-clr-accent-lighter {
    background-color: var(--clr-accent-lighter);
}


/* Text color utility classes */

.u-text-clr-primary {
    color: var(--clr-primary);
}

.u-text-clr-primary-lighter {
    color: var(--clr-primary-lighter);
}

.u-text-clr-secondary {
    color: var(--clr-secondary);
}

.u-text-clr-secondary-darker {
    color: var(--clr-secondary-darker);
}

.u-text-clr-accent {
    color: var(--clr-accent);
}

.u-text-clr-accent-lighter {
    color: var(--clr-accent-lighter);
}


/* Primary, secondary and accent text */

.u-text-primary {
    font-family: var(--primary-font);
}

.u-text-secondary {
    font-family: var(--secondary-font);
}

.u-text-accent {
    font-family: var(--accent-font);
}


/*Utility classes for Font weight */

.u-fw-100 {
    font-weight: var(--font-weight-thin);
}

.u-fw-200 {
    font-weight: var(--font-weight-extra-light);
}

.u-fw-300 {
    font-weight: var(--font-weight-light);
}

.u-fw-400 {
    font-weight: var(--font-weight-regular);
}

.u-fw-500 {
    font-weight: var(--font-weight-medium);
}

.u-fw-600 {
    font-weight: var(--font-weight-semibold);
}

.u-fw-700 {
    font-weight: var(--font-weight-bold);
}

.u-fw-800 {
    font-weight: var(--font-weight-semi-extra-bold);
}

.u-fw-900 {
    font-weight: var(--font-weight-extra-bold);
}


/* Utility classes for font styles */

.u-fs-normal {
    font-style: var(--font-style-normal);
}

.u-fs-italic {
    font-style: var(--font-style-italic);
}

.u-fs-oblique {
    font-style: var(--font-style-oblique);
}


/*Utility classes for font size */

.u-fs-xxs {
    font-size: var(--font-size-micro);
}

.u-fs-xs {
    font-size: var(--font-size-tiny);
}

.u-fs-s {
    font-size: var(--font-size-small);
}

.u-fs-m {
    font-size: var(--font-size-medium);
}

.u-fs-l {
    font-size: var(--font-size-large);
}

.u-fs-xl {
    font-size: var(--font-size-huge);
}

.u-fs-xxl {
    font-size: var(--font-size-gargantuan);
}

.u-fs-xxxl {
    font-size: var(--font-size-colossal);
}

.u-fs-monumental {
    font-size: var(--font-size-monumental);
}

.u-fs-titanic {
    font-size: var(--font-size-titanic);
}

.u-fs-mammoth {
    font-size: var(--font-size-mammoth);
}

.u-fs-stupendous {
    font-size: var(--font-size-stupendous);
}


/* Utility classes for font kerning */

.u-fk-auto {
    font-kerning: var(--font-kerning-auto);
}

.u-fk-normal {
    font-kerning: var(--font-kerning-normal);
}

.u-fk-none {
    font-kerning: var(--font-kerning-none);
}


/*Utility classes for text transform*/

.u-text-transform-uppercase {
    text-transform: var(--text-transform-uppercase);
}

.u-text-transform-lowercase {
    text-transform: var(--text-transform-lowercase);
}

.u-text-transform-none {
    text-transform: var(--text-transform-none);
}

.u-text-transform-capitalize {
    text-transform: var(--text-transform-capitalize);
}


/**********Layout class***********/

.l-display-flex {
    display: var(--display-flex);
}

.l-display-block {
    display: var(--display-block);
}

.l-display-none {
    display: var(--display-none);
}

.l-jc-center {
    justify-content: var(--justify-content-center);
}

.l-jc-flex-start {
    justify-content: var(--justify-content-flex-start);
}

.l-jc-flex-end {
    justify-content: var(--justify-content-flex-end);
}

.l-jc-space-between {
    justify-content: var(--justify-content-space-between);
}

.l-jc-space-around {
    justify-content: var(--justify-content-space-around);
}

.l-jc-space-evenly {
    justify-content: var(--justify-content-space-evenly);
}

.l-jc-stretch {
    justify-content: var(--justify-content-stretch);
}


/* Margin layout classes */


/* 0 margin */

.l-m-00 {
    margin: 0;
}


/* 0.25rem (4px) */

.l-m-025 {
    margin: 0.25rem;
}


/* 0.5rem (8px) */

.l-m-050 {
    margin: 0.5rem;
}


/* 0.75rem (12px) */

.l-m-075 {
    margin: 0.75rem;
}


/* 1rem (16px) */

.l-m-100 {
    margin: 1rem;
}


/* 1.25rem (20px) */

.l-m-125 {
    margin: 1.25rem;
}


/* 1.5rem (24px) */

.l-m-150 {
    margin: 1.5rem;
}


/* 1.75rem (28px) */

.l-m-175 {
    margin: 1.75rem;
}


/* 2rem (32px) */

.l-m-200 {
    margin: 2rem;
}


/* 2.25rem (36px) */

.l-m-225 {
    margin: 2.25rem;
}


/* 2.5rem (40px) */

.l-m-250 {
    margin: 2.5rem;
}


/* 2.75rem (44px) */

.l-m-275 {
    margin: 2.75rem;
}


/* 3rem (48px) */

.l-m-300 {
    margin: 3rem;
}


/* 3.25rem (52px) */

.l-m-325 {
    margin: 3.25rem;
}


/* 3.5rem (56px) */

.l-m-350 {
    margin: 3.5rem;
}


/* 3.75rem (60px) */

.l-m-375 {
    margin: 3.75rem;
}


/* 4.00 rem (64px) */

.l-m-400 {
    margin: 400rem;
}


/* Margin right layout class */


/* 0.0 margin right */

.l-mr-00 {
    margin-right: 0;
}


/* 0.25rem (4px) */

.l-mr-025 {
    margin-right: 0.25rem;
}


/* 0.5rem (8px) */

.l-mr-050 {
    margin-right: 0.5rem;
}


/* 0.75rem (12px) */

.l-mr-075 {
    margin-right: 0.75rem;
}


/* 1rem (16px) */

.l-mr-100 {
    margin-right: 1rem;
}


/* 1.25rem (20px) */

.l-mr-125 {
    margin-right: 1.25rem;
}


/* 1.5rem (24px) */

.l-mr-150 {
    margin-right: 1.5rem;
}


/* 1.75rem (28px) */

.l-mr-175 {
    margin-right: 1.75rem;
}


/* 2rem (32px) */

.l-mr-200 {
    margin-right: 2rem;
}


/* 2.25rem (36px) */

.l-mr-225 {
    margin-right: 2.25rem;
}


/* 2.5rem (40px) */

.l-mr-250 {
    margin-right: 2.5rem;
}


/* 2.75rem (44px) */

.l-mr-275 {
    margin-right: 2.75rem;
}


/* 3rem (48px) */

.l-mr-300 {
    margin-right: 3rem;
}


/* 3.25rem (52px) */

.l-mr-325 {
    margin-right: 3.25rem;
}


/* 3.5rem (56px) */

.l-mr-350 {
    margin-right: 3.5rem;
}


/* 3.75rem (6.px) */

.l-mr-375 {
    margin-right: 3.75rem;
}


/* 4rem (64px) */

.l-mr-400 {
    margin-right: 4rem;
}


/* Margin left */


/* 0 margin left */

.l-ml-00 {
    margin-left: 0;
}


/* 0.25rem (4px) */

.l-ml-025 {
    margin-left: 0.25rem;
}


/* 0.5rem (8px) */

.l-ml-050 {
    margin-left: 0.5rem;
}


/* 0.75rem (12px) */

.l-ml-075 {
    margin-left: 0.75rem;
}


/* 1rem (16px) */

.l-ml-100 {
    margin-left: 1rem;
}